/* HEADER */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 0rem;
    z-index: 2022;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container nav .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container nav .menu li {
    margin-right: 4.8rem;
}

header .container nav .menu-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 4rem;
    gap: 3.4rem;
}

header .container nav .menu-social li a img{
  transition: color 0.2s;
}

header .container nav .menu-social li a img:hover {
  filter: brightness(0.9);
  transform: translateY(-8%);
}

/* Section Hero */

.s-hero {
    background: url(../img/s-hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .s-hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .s-hero .container .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 59.2rem;
    margin-top: 24rem;
    padding-bottom: 6rem;
  }
  
  .s-hero .container .title h1 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 7.7rem;
    text-align: center;
    color: var(--white-color);
  }
  
  .s-hero .container .title h1 span {
    color: var(--primary-color);
  }
  
  .s-hero .container .title h2 {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.6rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 3.2rem;
  }
  
  .s-hero .container .title p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-align: center;
    color: var(--white-color);
  }
  
  .s-hero .container .title .techs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    margin-top: 2.3rem;
  }

/* Adicionando micro interações */

.s-hero .container .title .techs img {
  transition: all 0.2s;
}

.s-hero .container .title .techs img:hover {
  transform: translateY(-12%);
}
  
  .s-hero .container .title .btn-primary {
    margin-top: 4rem;
    padding: 1rem 5.6rem;
}

/* */

.s-success {
    padding: 14.4rem 0;
    margin: 0 auto;
  }
  
  .s-success .container {
    display: flex;
    align-items: center;
    gap: 4.4rem;
  }
  
  .s-success .container .title-success h2 span {
    font-family: "Inter", sans-serif;
  }
  
  .s-success .container .cards {
    display: flex;
  }
  
  .s-success .container .cards .card {
    width: 100%;
    max-width: 27.9rem;
    height: 30.4rem;
    background-color: var(--white-color);
    border-radius: 4px;
    margin-right: 3.3rem;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .s-success .container .cards .card:hover {
    filter: brightness(90%);
    transform: scale(1.02);
  }
  
  .s-success .container .cards .card.active {
    background-color: var(--primary-color);
  }
  
  .s-success .container .cards .card:last-child {
    margin-right: 0;
  }
  
  .s-success .container .cards .card .card-title {
    margin: 5rem 0;
    padding-right: 14.5rem;
    padding-left: 1.4rem;
  }
  
  .s-success .container .cards .card .card-info {
    padding-left: 1.4rem;
  }
  
  .s-success .container .cards .card .card-title h3 {
    font-family: "Inter";
    font-weight: 300;
    font-size: 6.4rem;
    line-height: 7.7rem;
    margin-bottom: 5.5rem;
  }
  
  .s-success .container .cards .card .card-info p {
    font-family: "Inter";
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 3.9rem;
  }

/* Section about me */

  .s-about {
    background-color: var(--black-color-medium);
    padding: 6rem 0;
  }

  .s-about .container {
    display: flex;
    justify-content: space-between;
  }

  .s-about .container .about-me {
    width: 100%;
    max-width: 71rem;
  }

  .s-about .container .about-me .cafe {
    text-align: end;
  }

  .s-about .container .about-me h2 {
    font-weight: 900;
  }

  .s-about .container .about-me p {
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--white-color-alpha);
    margin-top: 2.4rem;
  }

  .s-about .container .about-me ul {
    display: flex;
    align-items: flex-end;
    gap: 1.6rem;
    margin-top: 3.2rem;
  }

  .s-about .container .about-me ul li {
    transform: all 0.2s;
  }

  .s-about .container .about-me ul li:hover {
    transform: translateY(-8%);
  }

  .s-about .container .about-me ul li img {
    width: 2.4rem;
    height: 2.4rem;
  }

  .s-about .container .my-picture img{
    border-radius: 4px;
  }

/* Section s-cases */

  .s-cases {
    padding: 5rem 8rem;
  }

  s-cases .container {
    display: flex;
    flex-direction: column;
  }

  .s-cases .container .title-cases {
    margin-bottom: 7.4rem;
  }

  .s-cases .container .title-cases h2 {
    font-weight: 900;
  }

  .s-cases .container .cases {
    display: flex;
    width: 100%;
    position: relative;
  }

  .s-cases .container .cases img {
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.2s;
  }

  .s-cases .container .cases img:hover {
    transform: translateY(-2%);
  }

  .s-cases .container .cases:nth-child(2) {
    border-radius: 0.4rem;
    cursor: pointer;
    margin-top: -1.6rem;
  }

/* s-contact */

.s-contact {
  padding-top: 4rem;
  padding-bottom: 5.1rem;
}

.s-contact .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-contact .container .title-contact {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
  max-width: 34.3rem;
}

.s-contact .container .title-contact .tag{
  width:  100%;
  max-width: 13.2rem;
}

.s-contact .container .title-contact h2{
  font-weight: 900;
}

.s-contact .container .form-contact {
  width: 100%;
  max-width: 48.6rem;
}

.s-contact .container .form-contact .input-group input[type="text"], 
.s-contact .container .form-contact .input-group input[type="email"] {
  margin-bottom: 3.1rem;
}

.input-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1.7rem;
}


/* Footer */

footer {
  display: flex;
  flex-direction: column;
  background-color: #0C0C0C;
  padding: 50px 0px;
  align-items: center;
}

footer ul {
  display: flex;
  margin-bottom: 25px;
}

footer ul li {
  margin-right: 10px;
}

footer ul li:last-child {
  margin-right: 0px;
}

footer ul li a {
  color: #ffffff;
  font-size: 2rem;
}

footer p {
  color: #ffffff;
  text-align: center;
}